<!-- <hr style="border-style:solid; border-color:rgb(44, 5, 120); border-width:1px;">
		<h6> COMP229 - Web Applilcation Development (SEC.017) </h6>
		<hr style="border-style:solid; border-color:rgb(44, 5, 120); border-width:1px;">

</body>
</html> -->

<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">

    <h6 class="display-6 navbar-text">&copy;Eunji K. - COMP229 | Web Applilcation Development (SEC.017)</h6>
    </div>
    </nav>
</footer>