<!DOCTYPE html>
<html lang="en">
<!--Eunji Kwon / 301306237-->

<head>   
  
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="imgs/logo-EKproject.png">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    
</head>
    <style>
        /* Add background color to the navbar */
        .navbar {
            background-color: #FBFAF9;
            border-top: 1px
        }
       
        /* Space out the navbar items and remove the bullet points */
        ul.navbar-nav {
            list-style: none;
            display: flex;
            gap: 20px; /* Adjust the spacing between navbar items */
            justify-content: flex-end; /* Align items to the right */
            font-size: 20px;
        }




        ul.navbar-nav {
        list-style: none; /* Remove the bullet */
        display: inline; /* Display the list items inline */
        float:right;
        padding :1px;
        font-size:16px
        }
        ul.navbar-nav li {
        display: inline-block; /* Make the list items display inline */
        margin-left: 3px;
        margin-right: 3px;
        }
        a:link {
        text-decoration: none;
        }
        a:visited {
        text-decoration: none;
        }
        a:hover {
        text-decoration: none;
        }
        a:active {
        text-decoration: none;
        }
        html,
        body {
        height: 100%;
        
        }
        body {
        display: flex;
        flex-direction: column;
        
        }
        main {
        flex: 1;
        
        }
        main.”container”{
            padding:20px;
        }
        footer {
        background-color: #29AF6F;
        color: #ffffff;
        
        
        }
        footer .navbar-text {
        margin-bottom: 0;
        font-size: x-small;
        padding: 5px;
        
        }

        /*Index.js*/
        .index-main{
            color:#FBFAF9;
       
            max-width: 100%;
            background-image: url('/imgs/bg-img.jpg');
            background-size: cover;
            background-position: center;
            padding: 5em;
        
        }
        .lead{
            color:#FBFAF9;
        }
        .em-strong{
            color:#ffea00;
        }

        

  

        /*about.ejs*/
        .jumbotron{
            text-align: center;
            display:block;
        }

        
    /* Style for the cute button */
    .resume-button {
            background-color: #29AF6F; /* Button background color */
            color: #fff; /* Button text color */
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .resume-button:hover {
            background-color: #1a7448; /* Button background color on hover */
        }        

       /*Projects*/
       .card{
        padding:3px;
       }
        </style>
        
</head>
<body>
 