<!--Eunji Kwon / 301306237-->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

        
    
      <main class=”container” style="background-color: rgb(5, 61, 17);">
          <div class=”jumbotron”>
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" ></div>
                    
              <div class="index-main" >
               
              <div class="cover-wrap">

                  <!-- <img id="cover" src="imgs/bg-img.jpg" width="100%" alt="cover img">-->
                 <div class="cover-text"> 
                  <h1 style="margin-bottom: 5px;"> <strong class="em-strong">EUNJI</strong>'s Protfolio</h1>
                          
              


                  <p class="lead">To combine the passion for technology and creativity to craft <strong class="em-strong">innovative solutions</strong> and <strong class="em-strong">visual experiences</strong> </p>
                  <p class="lead">
                    <a href="/about#" class="btn btn-mid btn-light fw-bold border-white bg-white">Learn more</a>
                  </p></div>
                </div>
              </div>
        
            </div>

          </div>



        </main>

    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>

   
            


