<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

        
    
      <main class=”container”>
          <div class=”jumbotron”>
 
            <div class="main_services">
              <div class="container text-center">
            
                <div class="row">
                  <div class="col-4">
                    <img src="/imgs/icon/free-icon-web-programming-2717031.png" alt="img" style="width: 50px; height: 50px; margin-bottom: 20px;">
                    <ul class="list-group">            
           
                      <li class="list-group-item list-group-item-success"><strong>Software Development</strong></li>
                      <li class="list-group-item list-group-item-secondary"> &nbsp; Full Stack</li>
                      <li class="list-group-item"> &nbsp; C#</li>
                      <li class="list-group-item"> &nbsp; Java</li>
                      <li class="list-group-item"> &nbsp; JavaScript </li>
                      <li class="list-group-item"> &nbsp; HTML/CSS</li>
                      <li class="list-group-item"> &nbsp; Express</li>                      
                      <li class="list-group-item"> &nbsp; MongoDB</li>
                      <li class="list-group-item list-group-item-secondary"> &nbsp; DataBase</li>
                      <li class="list-group-item"> &nbsp; MySQL</li>
                      
                    </ul>
                  </div>
                  <div class="col-4">
                    <img src="/imgs/icon/free-icon-joystick-4854246.png" alt="img" style="width: 50px; height: 50px; margin-bottom: 20px;">
                    <ul class="list-group">            
           
                      <li class="list-group-item list-group-item-success"><strong>Game Design</strong></li>
                      <li class="list-group-item list-group-item-secondary"> &nbsp; Programming</li>
                      <li class="list-group-item"> &nbsp; Unity </li>
                      <li class="list-group-item"> &nbsp; Unreal Engine</li>
                      <li class="list-group-item list-group-item-secondary"> &nbsp; Modeling</li>
                      <li class="list-group-item"> &nbsp; Maya - 3D Modeling</li>
                      <li class="list-group-item"> &nbsp; 3D Max - 3D Modeling</li>
                      <li class="list-group-item"> &nbsp; Aseprite - 2D pixel</li>
                      <li class="list-group-item list-group-item-secondary"> &nbsp; Planing</li>
                      <li class="list-group-item"> &nbsp; MS Office</li>
                      <li class="list-group-item"> &nbsp; Notion</li>
                      <li class="list-group-item"> &nbsp; Aseprite - 2D pixel</li>
                    
                    </ul>
                      
                  </div>
                 
                  <div class="col-4">
                    <img src="/imgs/icon/free-icon-clapperboard-686457.png" alt="img" style="width: 50px; height: 50px; margin-bottom: 20px;">
                    <ul class="list-group">     
                     
                      <li class="list-group-item list-group-item-success"><strong>Film</strong></li>
                      <li class="list-group-item list-group-item-secondary"> &nbsp; Post-production</li>
                      <li class="list-group-item"> &nbsp; Adobe Premiere Pro </li>
                      <li class="list-group-item"> &nbsp; Adobe After Effect</li>
                      <li class="list-group-item"> &nbsp; SideFX Houdini</li>

                   
                   
                   
                    </ul>
                  </div>
                </div>
                
              </div>
            


          </div>





          
        </main>

    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>

   
            


